
body {
    background-color: black;
}

.main-container {
    height: 729px;
    width: 550px;
    margin: 130px auto;
    background-color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 285px;
    background-color: #6943FF;
    color: white;
    text-align: center;
}

.input-container h2 {
    font-size: 28px;
    font-weight: bolder;
    margin: 30px 50px;
}

.input-container input {
    height: 83px;
    width: 117px;
    text-align: center;
    font-size: 58px;
    font-weight: bolder;
    color: white;
    background-color: #6943FF;
    border: 1px solid #B295FF;
    border-radius: .3rem;
    margin: 15px 216px;
}

#convert-btn {
    height: 42px;
    width: 117px;
    background-color: #FFFFFF;
    border: none;
    border-radius: .3rem;
    margin: 8px;
    padding: 9px 27.5px;
}

#convert-btn:hover {
    cursor: pointer;
    opacity: .75;
}

.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    text-align: center;
}

.card {
    height: 108px;
    width: 500px;
    background-color: white;
    margin: 36px 25px 23px 25px;
    border-radius: .3rem;
}

